/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
@font-face {
    font-family: "Open sans";
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Open sans";
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
html {
  font-size: 62.5%;
}
body {
    font-family: Arial, "Open sans", sans-serif;
    
}
.section {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.section::before {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.9; 

}

.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;  
    width: 100%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    z-index: 3;
}

.logo{
    display: block;
    fill: #ffffff;
    margin-right: auto;
    margin-left: auto;
}

.content {
    width: 100%;
    margin-bottom: 89px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
}

.title {
   justify-content: flex-start;
   color: #ffffff;
   font-family: "Open Sans";
   font-weight: 700;
   text-transform: uppercase;
}

.subtitle {
    justify-content: flex-end;
    margin-left: auto;
}

.icon {
    fill: #ffffff;
}

.downloads-item {
    display: flex;
}

.downloads-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #5e42b0;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
    text-transform: uppercase;
}

/*========================================================HEADER==============================================================*/
.athlets {
    margin-bottom: 49px;
}

.heading {
	padding-left: 20px;
	padding-right: 20px;
}


.athlets_title {
  color: #e7e7e7;
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}
.list_item {
    list-style: none;
}

.collaboration{
    background-color: #f5f4f9;
}
.growth{
    color: #ffffff;
    background-color: #5e42b0;
}

.list_title {
  color: #c1c1c1;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;

}
.list_number {
  display: inline-block;
  position: relative;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 34.49px;
  text-transform: uppercase;
  margin-right: 10px;
}
.list_number::after {
    content: "";
    position: absolute;
    vertical-align: top;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #5e42b0;
    border-radius: 2px;
}
/*========================================================ATHLETS==============================================================*/
.growth .list_number::after{
    background-color: #fff;
}
.players_growth {
    background-color: #090c35;
}
.players_growth .list_number {
    color: #8765dd;
}

.list_text {
   font-family: "Open Sans";
   font-weight: 400;
   line-height: 18px;
}

/*========================================================PLAYERS==============================================================*/
.block {
     position: relative;
}
.number_box {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   background-color: #5e42b0;
}
.number_box .list_number {
    margin-right: 0;
    color: #f5f6f7;
    line-height: 14px;
    padding-bottom: 7px;
}
.number_box .list_number::after{
    background-color: #ffffff;
    opacity: 0.3;
}
/*========================================================SECTONS==============================================================*/
.footer_logo {
	display: block;
	background-color: #5e42b0;
	border-radius: 20px;
	fill: #ffffff;
	padding: 14px 10px;
	z-index: 11;
	margin-right: auto;
	margin-left: auto;
}

.footer_title {
	align-self: center;
}

.footer_subtitle {
   color: #9b8ec1;
   font-family: "Open Sans";
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 0.7px;
}
@media (max-width: 767px) {
.section {
    background-image: url(../img/football_767.jpg);
}
.game {
    background-image: url(../img/game_767.jpg);
}
}
@media (min-width: 768px) and (max-width: 1280px) {
    .section {
    background-image: url(../img/football_1280.jpg);
}
.game {
    background-image: url(../img/game_1280.jpg);
}
}
@media (min-width: 1281px) {
    .section {
    background-image: url(../img/football_1920.jpg);
}
.game {
    background-image: url(../img/game_1920.jpg);
}
}

@media (max-width: 640px){  
.container {
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 3.3rem;
    margin-bottom: 13.6rem;
    width: calc(22.5vw + 61px);
}
.content {

}

.title {
    font-size: calc(11.25vw + -8px);
    letter-spacing: 1.4px;
    margin-bottom: 2.9rem;
}

.subtitle {
    width: calc(82.5vw + -20px);
}
.downloads-item {
    margin-bottom: 8.4rem;
    flex-direction: column;
    align-items: center;
    width: calc(9.6vw + 249.3px);

}
.downloads-list {
    width: 100%;
    margin-bottom: 1.5rem;
}

.downloads-link {
   padding: 5px;
   font-size: calc(1.87vw + 2px);
   letter-spacing: 0.4px;
   height: calc(13.4vw + -8.8px);
}
.icon {
   width: calc(5vw + 8px);
}
.link {
   margin-left: 1rem;
}

/*==========HEADER===========*/
.athlets_title {
    align-self: flex-start;
    font-size: calc(9.375vw + 20px);
    margin-bottom: 245px;
    margin-left: 20px; 
}
.connection {
    background-color: #fafafa;
}

.list_title {
    font-size: calc(2.81vw + 14px);
    letter-spacing: 1.15px;
    padding-top: 83px;
    margin-bottom: 27px;
}
.list_number {
    vertical-align: top;
    font-size: calc(1.25vw + 10px);
    letter-spacing: 0.7px;
}
.list_text {
    width: 100%;
    font-size: calc(1.56vw + 10px);
    letter-spacing: 0.75px;
    padding-bottom: 50px;
}
.athlets_container {
    position: relative;
}
.athlets_container::before {
     content: "";
     background-image: url(../img/footballer_192.png);
     background-repeat: no-repeat ;
     background-position: center;
     width: 100%;
     height: 281px;
     position: absolute;
     left: 0;
     top: 69px;
     z-index: 10;
}
/*----------------------athlets---------------------*/
  .players_container {
    position: relative;
  }
  .players_container::before {
     content: "";
     background-image: url(../img/basketballer_302.png);
     background-repeat: no-repeat ;
     background-position: center;
     width: 100%;
     height: 281px;
     position: absolute;
     right: 0;
     top: 69px;
     z-index: 10;
}
/*----------------------players---------------------*/

.image {
    width:100%;
}
.number_box { 
   bottom: -12px;
   left: 20px;
   width: calc(14.375vw + 24px);
   height: calc(14.375vw + 24px);
   z-index: 2;
}

.article{
    padding-right: 20px;
    padding-left: 20px;
}
.article .list_title {
   padding-top: 33px;
   margin-bottom: 23px;
}
/*----------------------WORK IT---------------------*/
.footer_logo {
	margin-top: 10rem;
	margin-bottom: 6rem;
	width: calc(16.5vw + 24px);
	height: calc(19.6vw + 14px);
}

.footer_content {
	margin-bottom: 7.6rem;

}
.footer_title {
  margin-bottom: 1rem;
}
.footer_subtitle {
	max-width: 100%;
	align-self: center;
    font-size: calc(4.375vw + -2px);
    
}
.game .downloads-item {
	margin-bottom: 8.2rem;
}
.game .logo {
	margin-bottom: 1rem;
}


}

 @media (min-width: 641px) and (max-width: 960px) {
   .logo {
    margin-top: 4rem;
    margin-bottom: 18rem;
    width: 205px;
}
.content {
	
}
.title {
    font-size: 64px;
    letter-spacing: 3.52px;
    margin-bottom: 3rem;
}
.subtitle {
   width: calc(31.34vw + 408px);
}
.downloads-item {
	justify-content: center;
	width: 100%;
    margin-bottom: 9rem;
}
.downloads-list {
    margin-right: 3rem;
    width: calc(3.39vw + 257.5px);
}
.downloads-list:nth-child(2){
    margin-right: 0;
}

.downloads-link {
   padding: 18px;
   font-size: 14px;
   letter-spacing: 0.7px;
}
.icon {
   width: 40px;
}
.link {
   margin-left: 2.8rem;
}

/*==========HEADER===========*/
.athlets_title {
    width: 60%;
    margin-left: auto;
    margin-bottom: 0px;
    padding-top: 85px;
    font-size: 80px;
}
.heading {
    width: 60%;
    margin-left: auto;
     display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
    padding-bottom: 55px;
}

.list_title {
    font-size: 32px;
    letter-spacing: 1.6px;
    margin-bottom: 32px;
}
._title {
	font-size: 80px;
}
.list_number {
    vertical-align: top;
    font-size:18px;
    letter-spacing: 0.9px;
}
.list_text {
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    justify-content: flex-end;
}
._text {
    font-size: 24px;
}
.athlets_container {
    position: relative;
}
.athlets_container::before {
     content: "";
     background-image: url(../img/footballer_497.png);
     background-repeat: no-repeat ;
     background-position: left;
     width: 100%;
     height: 699px;
     position: absolute;
     left:-100px;
     top: 94px;
     z-index: 1;
     background-size: 50%;

}
/*----------------------athlets---------------------*/
.players_heading {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 60%;
}

.players_container {
    position: relative;
}
.players_container::before {
     content: "";
     background-image: url(../img/basketballer_436.png);
     background-repeat: no-repeat ;
     background-position: right;
     width: 100%;
     height: 640px;
     position: absolute;
     right: 0px;
     top: 0px;
     z-index: 10;
     background-size: 50%;


}
.players_title {
    margin-left: 0;
    margin-right: auto;
    padding-left: 20px;
    width: 60%;
}
.players_heading {
    margin-left: 0;
    margin-right: auto;
}
/*----------------------players---------------------*/

.image {
    width:100%;
}
.number_box { 
   bottom: -36px;
   left: 20px;
   width: 116px;
   height: 116px;
   z-index: 2;
}

.article{
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 97px;
}
.article .list_title {
   padding-top: 54px;
   margin-bottom: 37px;
}
/*----------------------WORK IT---------------------*/

.footer_logo {
	margin-top: 12.6rem;
	margin-bottom: 8rem;
	width: 130px;
	height: 137px;
}

.footer_content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-bottom: 20.7rem;
}

.footer_title {
  text-align: center;
  width: 100%;
  margin-bottom: 2.7rem;
}
.footer_subtitle {
	width: 100%;
	align-self: center;
    font-size: 26px;
    margin-left: 0px;
}
.game .downloads-item {
	margin-bottom: 5.5rem;
}
.game .logo {
	margin-bottom: 2.4rem;
}

}


@media (min-width: 961px) {
  .container {
    max-width: 1570px;
    padding-top: 4.5rem;
    padding-bottom: 9rem;
}
 .logo {
    margin-bottom: 29.5rem;
    width: 205px;
}
.title {
    font-size: calc(8.15vw + -14px);
    letter-spacing: 4.96px;
    margin-bottom: 4rem;
}
.subtitle {
    max-width: 80%;
}
.downloads-item {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.downloads-list {
    margin-right: 5rem;
    width: 311px;
}
.downloads-list:nth-child(2){
    margin-right: 0;
}

.downloads-link {
   padding: 14px;
   font-size: 14px;
   letter-spacing: 0.7px;
   box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, 1px 1px 1px #4d3191;
}
.downloads-link:active {
    top: 2px;
    left: 1px;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
.downloads-link:hover {
   background-color: #4d3191;
   color: #bdace3;
   transition: .2s linear; 
}
.icon {
   width: 40px;
}
.link {
   margin-left: 2.5rem;
}

.athlets_title {
    margin-left: auto;
    margin-top: 0;
    margin-bottom:50px;
    padding-top: 85px;
    font-size: 80px;
    width: 50%;
}

.heading {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap; 
    padding-top: 55px;
    padding-bottom: 55px;
    width: 50%;
}

.list_title {
    font-size: 32px;
    letter-spacing: 1.6px;
    margin-bottom: 32px;

}
.list_number {
    vertical-align: top;
    font-size:18px;
    letter-spacing: 0.9px;
}
.list_text {
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    justify-content: flex-end;
}

._text {
    font-size: 24px;
}

.athlets_container {
    position: relative;
}
.athlets_container::before {
     content: "";
     background-image: url(../img/footballer_566.png);
     background-repeat: no-repeat ;
     background-position: left; 
     width: calc(21.63vw + 290px);
     height: 908px;
     position: absolute;
     right:50%;
     top: 27px;
     z-index: 10;
     background-size: 100%;
}

._connection {
	padding-right: 11%;
}
.players_container {
    position: relative;
    overflow: hidden;
}
.players_container::before {
     content: "";
     background-image: url(../img/basketballer_991.png);
     background-repeat: no-repeat ;
     background-position: right;
     width: calc(94.35vw + -216px);
     height: 815px;
     position: absolute;
     left: 50%;
     top: 0px;
     z-index: 10;
     background-size: 100%;
     
}
.players_title {
    margin-left: 0;
    margin-right: auto;
    padding-left: 8%;
    
}
.players_heading {
    margin-left: 0;
    margin-right: auto;
    padding-left: 8%;
    
}
/*----------------------players---------------------*/
.list_{
    display: flex;
    width: 100%;
}

.block {
width: 50%;
}

.image{
	max-width: 100%
}

.number_box { 
   right: -13%;
   top: 35%;
   width: calc(16.25vw + -40px);
   height: calc(12.18vw + -0.9px);
   z-index: 2;
}

.article{
  padding-left:7%; 
  align-self: center;
  width: 50%; 
}
.article .list_title {
   font-size: 64px;
   margin-bottom: 58px;
}

.article .list_text{
	width: 65%;
}
/*----------------------be active---------------------*/
.find_contact .article {
	order: -2;
}
.find_contact .number_box { 
   left: -12%;
}

/*----------------------WORK IT---------------------*/
.game .container {
	flex-direction: column;
}
.block_footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 229px;
	padding-bottom: 151px;
}
.footer_logo {
	width: 130px;
	height: 137px;
	margin-left: 0;
	margin-right: 37px;
}

.footer_title {
  margin-bottom: 2rem;
}
.footer_subtitle {
    font-size: 26px;
    margin-left: 0px;
}
.game .downloads-item {
	margin-bottom: 20rem;
}
.game .logo {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0; 
}

}

/*@media (min-width: 961px) and (max-width: 1280px){
    .heading {
    width: 40%;
    }
    .athlets_title {
    width: 40%;
}
}*/
@media (min-width: 1281px){
.athlets_container::before {
     width:566px;
}
.title {
    font-size: 90px;
}

.number_box  {
	width: 168px;
	height: 155px;
}
.number_box { 
     right: -84px;
}
.article .list_title {
	margin-bottom: 75px;
}
.find_contact .number_box { 
   left: -84px;
}
.players_container::before {
	 width:991px;
}
}

